@media (min-width: 620px) {
    .advantage-elements div {
        padding: 20px 45px;
    }
}

@media (max-width: 620px) {
    .advantage-elements div {
        padding: 5px 10px;
    }

    .timetable {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .main-container {
        margin-left: 20px;
    }
    
    .main-nav {
        padding-left: 0;
    }

    .main-nav li {
        padding-left: 20px;
    }

    .email-icon-nav {
        display: none;
    }
    
    .phone-icon-nav {
        display: none;
    }

    .timetable {
        font-size: 11px;
    }

    .left-content-column {
        width: 40%;
    }

    .right-content-column {
        width: 40%;
    }
}

@media (max-width: 1260px) {
    .left-content {
        order: 3;
    }
}

@media (max-width: 1000px) {
    .moon-rocket-image {
        display: none;
    }
}

@media (max-width: 460px) {
    .advantage-elements div {
        display: flex;
        padding-top: 25px;
    }

    .advantage-elements div p {
        margin: auto;
        font-size: 13px;
        margin-left: 10px;
        padding-left: 20px;
    }
}